@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

html, body {
    padding:0; 
    margin:0;
    height: 100%;
}

.background {
    position: relative;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #3E1E68;
}

.background .bg {
    width: 15vmin;
    height: 15vmin;
    border-radius: 15vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 25;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.background .bg:nth-child(0) {
    color: #aedaf2;
    top: 93%;
    left: 65%;
    animation-duration: 46s;
    animation-delay: -178s;
    transform-origin: 12vw 14vh;
    box-shadow: 30vmin 0 4.627633763582627vmin currentColor;
}
.background .bg:nth-child(1) {
    color: #aedaf2;
    top: 45%;
    left: 42%;
    animation-duration: 169s;
    animation-delay: -57s;
    transform-origin: -19vw -20vh;
    box-shadow: 30vmin 0 4.275567001499552vmin currentColor;
}
.background .bg:nth-child(2) {
    color: #aedaf2;
    top: 82%;
    left: 76%;
    animation-duration: 199s;
    animation-delay: -232s;
    transform-origin: 23vw -1vh;
    box-shadow: 30vmin 0 3.92395611424498vmin currentColor;
}
.background .bg:nth-child(3) {
    color: #aedaf2;
    top: 15%;
    left: 43%;
    animation-duration: 211s;
    animation-delay: -95s;
    transform-origin: 6vw 20vh;
    box-shadow: -30vmin 0 4.1507231133064675vmin currentColor;
}
.background .bg:nth-child(4) {
    color: #e45a84;
    top: 50%;
    left: 53%;
    animation-duration: 149s;
    animation-delay: -66s;
    transform-origin: -13vw 20vh;
    box-shadow: 30vmin 0 4.619420172702942vmin currentColor;
}
.background .bg:nth-child(5) {
    color: #e45a84;
    top: 53%;
    left: 56%;
    animation-duration: 135s;
    animation-delay: -136s;
    transform-origin: -5vw -8vh;
    box-shadow: -30vmin 0 4.169582529044623vmin currentColor;
}
.background .bg:nth-child(6) {
    color: #aedaf2;
    top: 54%;
    left: 94%;
    animation-duration: 206s;
    animation-delay: -61s;
    transform-origin: -5vw -22vh;
    box-shadow: 30vmin 0 3.871561462298023vmin currentColor;
}
.background .bg:nth-child(7) {
    color: #e45a84;
    top: 50%;
    left: 80%;
    animation-duration: 134s;
    animation-delay: -223s;
    transform-origin: -7vw -17vh;
    box-shadow: -30vmin 0 4.08779360862304vmin currentColor;
}
.background .bg:nth-child(8) {
    color: #e45a84;
    top: 11%;
    left: 24%;
    animation-duration: 252s;
    animation-delay: -104s;
    transform-origin: 4vw -14vh;
    box-shadow: -30vmin 0 4.729706210236482vmin currentColor;
}
.background .bg:nth-child(9) {
    color: #e45a84;
    top: 15%;
    left: 8%;
    animation-duration: 234s;
    animation-delay: -138s;
    transform-origin: 11vw -15vh;
    box-shadow: -30vmin 0 4.327475550413999vmin currentColor;
}
.background .bg:nth-child(10) {
    color: #e45a84;
    top: 64%;
    left: 97%;
    animation-duration: 193s;
    animation-delay: -180s;
    transform-origin: -24vw -24vh;
    box-shadow: -30vmin 0 3.8203286018932596vmin currentColor;
}
.background .bg:nth-child(11) {
    color: #e45a84;
    top: 4%;
    left: 2%;
    animation-duration: 202s;
    animation-delay: -150s;
    transform-origin: -7vw -19vh;
    box-shadow: -30vmin 0 3.8216969180063787vmin currentColor;
}
.background .bg:nth-child(12) {
    color: #e45a84;
    top: 2%;
    left: 37%;
    animation-duration: 124s;
    animation-delay: -246s;
    transform-origin: -10vw -22vh;
    box-shadow: -30vmin 0 4.040685063744016vmin currentColor;
}
.background .bg:nth-child(13) {
    color: #aedaf2;
    top: 60%;
    left: 52%;
    animation-duration: 141s;
    animation-delay: -173s;
    transform-origin: 22vw -15vh;
    box-shadow: -30vmin 0 4.704539080934486vmin currentColor;
}
.background .bg:nth-child(14) {
    color: #aedaf2;
    top: 3%;
    left: 22%;
    animation-duration: 163s;
    animation-delay: -15s;
    transform-origin: -23vw 21vh;
    box-shadow: -30vmin 0 4.494907060291815vmin currentColor;
}
.background .bg:nth-child(15) {
    color: #e45a84;
    top: 68%;
    left: 68%;
    animation-duration: 246s;
    animation-delay: -181s;
    transform-origin: 2vw -22vh;
    box-shadow: 30vmin 0 4.48664572133836vmin currentColor;
}
.background .bg:nth-child(16) {
    color: #e45a84;
    top: 88%;
    left: 73%;
    animation-duration: 156s;
    animation-delay: -177s;
    transform-origin: -3vw 8vh;
    box-shadow: 30vmin 0 4.120202373636133vmin currentColor;
}
.background .bg:nth-child(17) {
    color: #e45a84;
    top: 12%;
    left: 66%;
    animation-duration: 193s;
    animation-delay: -1s;
    transform-origin: 18vw 22vh;
    box-shadow: -30vmin 0 3.7660621629904236vmin currentColor;
}
.background .bg:nth-child(18) {
    color: #e45a84;
    top: 40%;
    left: 54%;
    animation-duration: 43s;
    animation-delay: -108s;
    transform-origin: -3vw -20vh;
    box-shadow: 30vmin 0 4.423816540277663vmin currentColor;
}
.background .bg:nth-child(19) {
    color: #aedaf2;
    top: 45%;
    left: 38%;
    animation-duration: 20s;
    animation-delay: -146s;
    transform-origin: 14vw 21vh;
    box-shadow: 30vmin 0 4.240905683954033vmin currentColor;
}
.background .bg:nth-child(20) {
    color: #e45a84;
    top: 94%;
    left: 65%;
    animation-duration: 35s;
    animation-delay: -53s;
    transform-origin: 18vw 0vh;
    box-shadow: -30vmin 0 4.060739269894162vmin currentColor;
}
.background .bg:nth-child(21) {
    color: #aedaf2;
    top: 4%;
    left: 48%;
    animation-duration: 236s;
    animation-delay: -158s;
    transform-origin: 2vw 12vh;
    box-shadow: 30vmin 0 3.9349182987295297vmin currentColor;
}
.background .bg:nth-child(22) {
    color: #aedaf2;
    top: 54%;
    left: 88%;
    animation-duration: 114s;
    animation-delay: -37s;
    transform-origin: -3vw 17vh;
    box-shadow: -30vmin 0 4.503953275049312vmin currentColor;
}
.background .bg:nth-child(23) {
    color: #e45a84;
    top: 61%;
    left: 2%;
    animation-duration: 227s;
    animation-delay: -128s;
    transform-origin: -23vw -3vh;
    box-shadow: -30vmin 0 3.8484943426300786vmin currentColor;
}
.background .bg:nth-child(24) {
    color: #e45a84;
    top: 19%;
    left: 4%;
    animation-duration: 58s;
    animation-delay: -221s;
    transform-origin: 8vw 10vh;
    box-shadow: 30vmin 0 4.290755219961717vmin currentColor;
}
