body {
    padding:0; 
    margin:0;
    background-image:  repeating-radial-gradient(circle at 65% 50%, transparent 0, #3e1e68 80px), repeating-linear-gradient(#aedaf2, #e45a84);
    background-blend-mode: hard-light;
    background-color: #3e1e68;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}