#main-form {
    padding: 5% 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
}

#main-form article {
    margin-bottom: 2.5%;
    width: 35%;
    height: 60%;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    margin-top: 7.5%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#main-form article form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main-form form label {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 0.9em;
    margin-top: 5px;
    /* color: rgba(0, 0, 0, 0.6); */
}

#main-form article h3 {
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    font-size: 1.5em;
    margin: 15% 0 7.5% 0;
}

.pp {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
    color: rgba(0, 0, 0, 0.6);
}

.pp span {
    margin-right: 2%;
}

.pp:hover {
    cursor: pointer;
    transform: scale(1.1);
}

#pp::-webkit-file-upload-button {
    display: none;
}

#pp {
    width: 30%;
    margin: 0 auto;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 5%;
}

#name {
    display: flex;
    flex-direction: row;
}

#name label:first-child {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

#name label:last-child {
    width: 50%;
    justify-content: flex-start;
}

#name input {
    width: 85%;
}

#name input:first-child {
    margin-right: 5%;
}

#name input:last-child {
    margin-left: 5%;
}


.form {
    width: 61.5%;
    padding: 5px 7.5px;
    margin: 2.5% 0 1% 0;
    border: none;
    border-radius: 3px;
}

#last {
    color: #fff;
    padding: 5% 0;
}

#last:hover {
    cursor: pointer;
}

#remember {
    justify-self: flex-start;
    align-self: center;
    border: none;
    margin-right: 10px;
}

#remember:hover {
    cursor: pointer;
    transform: scale(1.1);
}

#main-form button {
    background-color: transparent;
    color: #fff;
    font-size: 16px;
    margin: 7.5% 0;
    padding: 10px 15px;
    border: 1px solid #fff;
    border-radius: 5px;
}

#main-form button:hover {
    transform: scale(1.1);
    box-shadow: 3px 1px #e45a84, -3px -1px #aedaf2;
    cursor: pointer;
    transition: .5s;
}

.form:hover {
    transform: scale(1.05);
    box-shadow: 3px 1px #e45a84, -3px -1px #aedaf2;
    transition: .5s;
}

#main-form article .option {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 10% 0;
}

.option a {
    color:rgba(125, 125, 125, 0.9);
    font-size: 0.75em;
    margin-top: 10px;
}

#main-form article a:hover {
    transform: scale(1.05);
    color:rgba(255, 255, 255, 1);
}

#main-form p {
    color: rgba(73, 46, 144, 1);
    text-align: center;
}

/* Select menu */
.edit {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2.5%;
}
.edit p {
    margin-right: auto;
    margin-left: 5%;
    color: rgba(73, 46, 144, 1);
}
.edit input, .edit select {
    color: rgba(0, 0, 0, 0.6);
    margin-right: 5%;
    width: 23%;
    padding: 5px 7.5px;
    border: none;
    border-radius: 3px;
}

.edit input:hover, .edit select:hover {
    transform: scale(1.05);
    box-shadow: 3px 1px #e45a84, -3px -1px #aedaf2;
    cursor: pointer;
    transition: .5s;
}
#nb:hover {
    cursor: text;
}

/* Edit score */
table tr {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 61.5%;
    margin: 0 auto;
}
table tr th {
    width: 50%;
    margin: 5% auto 2.5% auto;
}
table tr td {
    width: 50%;
    margin-bottom: 2.5%;
}
table input[type="number"] {
    margin: 0 10%;
    width: 50%;
    padding: 2px;
    border: none;
    border-radius: 3px;
}
input[type="number"]:hover {
    transform: scale(1.05);
    box-shadow: 3px 1px #e45a84, -3px -1px #aedaf2;
    cursor: pointer;
    transition: .5s;
}
table tr td label {
    display: flex;
    align-items: center;
    color:rgba(73, 46, 144, 1);
}
.win {
    width: 55%;
}